<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" /> 
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  welcome page
  <br>
  <a href="/create"><button class="noam">create</button></a>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Website</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <div class="welcome-container">
    <h1>Welcome to MyMeal</h1>
    <p>see what your friends are eating today. and share your culture with the world</p>
    <p>contribute posts of your own daily meals, discover new dishes, and get inspired!</p>
  </div>
  <br>
  <a href="/create"><button style="margin-left:100px ;"class="noam">create</button></a>
</body>
</html>


